.table{
    margin-top: 20px;
    overflow: scroll;
    height: 500px;
    color: gray;
}
.table tr{
    display: flex;
    justify-content: space-between;
}
.table td{
  padding: 0.5px;
}
.table tr:nth-of-type(odd){
    background-color: rgb(232, 238, 232);
}